.result-section {
	max-height: fit-content;
	--correct: #4ade80;
	--incorrect: #fca5a5;
}

.result-card {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	flex-wrap: wrap;
	background: var(--color-bg-secondary);
	gap: var(--spacing-sm);
	padding: var(--spacing-sm);
	border-radius: var(--radius-sm);
	width: 100%;
	max-width: 800px;
}
.result-info {
	flex: 2;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-xs);
	align-items: start;
}

.status,
.answers {
	color: var(--color-text-secondary);
	font-size: var(--font-size-xs);
}

.question {
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-sm);
}

.result-icon {
	display: flex;
	align-items: center;
}

.result-card.correct .status,
.result-card.correct .result-icon {
	color: var(--correct);
}

.result-card.incorrect .status,
.result-card.incorrect .result-icon {
	color: var(--incorrect);
}

.quiz-action {
	display: flex;
	gap: var(--spacing-md);
}
