.quiz-progress {
	width: 100%;
	padding: 0 1rem;
}

.progress-bar {
	background-color: var(--color-border);
	border-radius: var(--radius-sm);
	height: var(--radius-sm);
	overflow: hidden;
	max-width: 400px;
	margin: 0 auto;
}

.progress-fill {
	background-color: var(--color-text-primary);
	height: 100%;
	border-radius: 6px;
	transition: width 0.3s ease-in-out;
}

.quiz-slider {
	width: 100%;
}

.quiz-question {
	padding: 1rem;
	width: 100%;
}

.quiz-question h1 {
	font-size: 1.375rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

.quiz-options {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(400px, 100%), 1fr));
	gap: 0.8rem;
	width: 100%;
}

.option {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	justify-content: space-between;
	border: 1px solid var(--color-border);
	border-radius: var(--radius-sm);
	padding: var(--spacing-sm);
	background-color: var(--color-bg-tertiary);
	cursor: pointer;
	transition: border-color 0.2s ease, background-color 0.2s ease;
}

.option:hover {
	border-color: var(--color-bg-primary);
}

.option input[type="radio"] {
	width: 20px;
	height: 20px;
	accent-color: var(--primary);
	cursor: pointer;
	opacity: 0;
}

.option input[type="radio"]:checked {
	opacity: 1;
}

.option input[type="radio"]:checked + .option-text {
	color: black;
	font-weight: 600;
	background-color: white;
	border-radius: var(--radius-sm);
}

.option-text {
	font-size: 0.95rem;
	font-weight: 500;
}

.quiz-action {
	margin: 0 auto;
	max-width: 400px;
	padding: 1rem;
}

.btn-primary {
	display: flex;
	align-items: center;
	width: 100%;
	background-color: var(--color-bg-accent);
	color: var(--color-text-primary);
	border: none;
	border-radius: var(--radius-sm);
	height: 40px;
	font-weight: 700;
	cursor: pointer;
	transition: background-color var(--transition-normal);
	padding: var(--spacing-md);
}

.btn-primary:hover {
	background-color: var(--color-bg-tertiary);
}
