.flashcards-container {
	margin-top: auto;
	margin-bottom: 0;
}

.flashcard-inner {
	width: 300px;
	height: 200px;
	position: relative;
	perspective: 1000px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.flashcard-inner .front,
.flashcard-inner .back {
	width: 100%;
	height: 100%;
	border-radius: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	backface-visibility: hidden;
	position: absolute;
	transition: transform 0.5s;
	background: var(--btn-bg);
	color: var(--text-main);
	border: 2px solid #ccc;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.flashcard-inner .back {
	transform: rotateY(180deg);
}

.flashcard-inner.flipped .front {
	transform: rotateY(180deg);
}

.flashcard-inner.flipped .back {
	transform: rotateY(0deg);
	background-color: var(--btn-bg-active);
	color: var(--bg-main);
}
